header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2% 10%;
	position: sticky;
	top: 0%;
	background-color: rgb(25, 25, 36);
}
body {
	background-color: rgb(25, 25, 36);
	color: #fff;
}
.navigation {
	display: flex;
}
.navigation li {
	padding: 0 1rem;
}
.nav-links {
	padding: 0.5rem;
	color: var(--font-color);
	font-weight: 500;
}
.nav-links:hover {
	padding: 0.5rem;
	color: var(--main-color);
}
#home {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	min-height: 50vh;
	height: 70vh;
	padding: 2% 15%;
}
.Slogan {
	flex-basis: 60%;
}
.homeimg img {
	width: 80%;
	display: block;
	margin: auto;
}
#aboutUs {
	display: flex;
	justify-content: space-around;
	width: 100%;
	align-items: center;
	min-height: 50vh;
	height: 100vh;
	padding: 3% 10%;
}
.aboutimg img {
	width: 100%;
	flex-basis: 30%;
}
.aboutDetails {
	padding: 3%;
	margin-left: 3rem;
	flex-basis: 60%;
}
#foodmenu {
	padding: 3% 8%;
}
.rowmenu {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 2rem;
}
.colmenu {
	background-color: #feeee7;
	text-align: center;
	padding: 0.5rem;
	border-radius: 0.6rem;
	position: relative;
}
.foodimg img {
	padding: 1rem;
	display: block;
	margin: auto;
	width: 80%;
}
.colmenu i{
	font-size: 2rem;
	color: #000;
}

.serveimg img {
	width: 50%;
}
#services {
	padding: 4% 14%;
}
.rowservice {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 2rem;
	justify-content: center;
}
.colservice {
	text-align: center;
}
.banner {
	text-align: center;
	background-color: #feeee7;
	color: black;
	padding: 2rem 0;
	border-radius: 1rem;
	width: 70%;
	margin: 3rem auto;
}
#footer {
	padding: 3% 8%;
}
#footer h2 a {
	color: #fff;
	position: relative;
	padding: 0.8rem;
	margin: .8rem 0;
	display: inline-block;
}

#footer h2 a::before {
	content: "";
	background-color: var(--main-color);
	position: absolute;
	bottom: 0;
	height: 0.3rem;
	width: 50%;
}
#footer h2 a:hover {
	color: var(--main-color);
}
#footer .col li {
	margin: 1rem;
}
#footer .col li a {
	color: rgb(137, 134, 134);
	padding: 0.5rem;
}
#footer .col li a:hover {
	color: var(--main-color);
}
#footer .row {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.sociallinks i {
	font-size: 2rem;
	margin:0 .5rem;
	transition: all 0.3s ease-in;
}
@media screen and (max-width: 1200px) {
	html {
		font-size: 13px;
	}
}
@media screen and (max-width: 990px) {
	html {
		font-size: 11px;
	}
	header,
	#aboutUs,
	#services,
	#home,
	#foodmenu {
		padding: 2% 8%;
	}
}
@media screen and (max-width: 750px) {
	html {
		font-size: 10px;
	}
	header,
	#aboutUs,
	#services,
	#home,
	#foodmenu,
	#footer {
		padding: 2% 5%;
	}
}
#MenuBtn {
	z-index: 3;
	display: none;
	cursor: pointer;
	width: 4rem;
}
#MenuBtn:hover {
	filter: grayscale(50%);
}
@media screen and (max-width: 500px) {
	header,
	#aboutUs,
	#services,
	#home,
	#foodmenu,
	#footer {
		padding: 3%;
	}
	#MenuBtn {
		display: block;
	}
	#home {
		flex-direction: column-reverse;
		text-align: center;
	}
	#aboutUs {
		flex-direction: column;
	}
	.homeimg img {
		width: 40%;
	}
	.aboutimg img {
		display: block;
		margin: auto;
		width: 40%;
	}
	header {
		justify-content: space-around;
	}
	.navigation {
		position: absolute;
		left: -100%;
		top: 5rem;
		width: 100%;
		display: block;
		background-color: var(--bg-color);
		transition: all 0.3s ease;
		text-align: center;
	}
	.navigation li {
		margin: 1rem 0;
	}
	.nav-links {
		padding: 0.5rem;
		display: block;
	}
	.nav-links:hover {
		background-color: var(--main-color);
		color: #fff;
	}
}
