/* Header & HOme Section  */
header {
	display: flex;
	justify-content: space-between;
	padding: 1% 5%;
	align-items: center;
}
#home {
	width: 100%;
	height: 100vh;
	min-height: 60vh;
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./IMGSTBN/banner.png");
}
.homeSlogan {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.nav {
	display: flex;
	background-color: #fff;
	padding: 0.65rem 1.5rem;
	align-items: center;
	border-radius: 3rem;
}
.search img {
	width: 3rem;
	padding: 0.92rem;
	background-color: var(--main-color);
	border-radius: 50%;
}
.nav input {
	outline: none;
	border: none;
}
.border-left {
	border-left: 1px solid black;
}

.logo img {
	width: 8rem;
}
#Navigation {
	display: flex;
}
#Navigation li {
	margin: 0 1rem;
}
#Navigation a {
	position: relative;
	color: #fff;
	padding: 0.5rem;
}
#Navigation a:hover::after {
	opacity: 1;
	transition: all 0.3s ease-in-out;
}
.uil{
	font-size: 2rem;
	color: var(--main-color);
}
#Navigation a::after {
	background-color: var(--main-color);
	content: "";
	width: 40%;
	display: block;
	margin: auto;
	position: absolute;
	height: 0.4rem;
	left: 30%;
	bottom: -0.5rem;
	opacity: 0;
	border-radius: 0.3rem;
	/* box-shadow: 25px 25px 60px 3px rgba(255, 255, 255, 1); */
}
.hover::after {
	content: "";
	background-color: #000;
	width: 40%;
	display: block;
	margin: auto;
	position: absolute;
	height: 0.4rem;
	left: 30%;
	bottom: -0.5rem;
	opacity: 0;
	border-radius: 0.3rem;
}
.hover:hover::after {
	transition: all 0.3s ease-in-out;
	opacity: 1;
}
.row {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
	gap: 1rem;
	margin: 1rem;
}
.exclusives {
	padding: 2% 5%;
}

.city img {
	width: 100%;
	border-radius: 0.3rem;
}

.city {
	position: relative;
}
.cityname {
	position: absolute;
	bottom: 30%;
	color: #fff;
	left: 30%;
	color: #fff;
}

.trending {
	padding: 2% 5%;
}
.trendcity img {
	border-radius: 0.5rem;
	width: 100%;
}
.sharing {
	position: relative;
	padding: 2% 5%;
}
.sharing img {
	width: 100%;
	border-radius: 0.5rem;
	margin: auto;
	height: 80vh;
	/* display: grid; */
	display: block;
}

.share {
	position: absolute;
	top: 40%;
	left: 10%;
}
.stories {
	padding: 2% 5%;
}
.story img {
	width: 100%;
}
.story {
	position: relative;
	text-align: center;
	color: #fff;
}
.story p {
	position: absolute;
	top: 35%;
	padding: 1rem;
	/* transform: translateX(20%); */
	left: 0;
}
/* Footer  */
footer {
	padding: 2% 5%;
}
.sociallinks a i {
	font-size: 2rem;
	color: black;
	margin: 0 0.4rem;

}
.search i{
	font-size: 1.5rem;
}
.idk i{
	font-size: 2rem;
}
.sociallinks a i:hover {
	color: rgb(100, 96, 96);
	transition: all 0.2s ease-in-out;
}
#places {
	padding: 2% 5%;
	display: flex;
	justify-content: space-between;
}
.leftMain {
	flex-basis: 65%;
}
.right {
	border: 2px solid black;
	flex-basis: 25%;
	height: max-content;
}
.home {
	display: flex;
}
.imghome {
	flex-basis: 50%;
}
.imghome img {
	width: 90%;
	border-radius: 0.8rem;
}
.pagination span {
	padding: 0.5rem 0.8rem;
	/* width: 2rem;
  display: inline-block;
  text-align: center;
  height: 2rem; */
	cursor: pointer;
	margin: 0 0.5rem;
	border-radius: 50%;
}
.pagination span:active {
	background-color: #000;
	color: #fff;
}
.pagination {
	margin: 5rem auto;
	width: max-content;
}
.right {
	padding: 2rem;
}
.House {
	padding: 2% 15%;
}
.imgbig {
	flex-basis: 50%;
}
.imgbig img {
	width: 100%;
	margin-right: 0.5rem;
}
.imgs {
	display: flex;
	gap: 1rem;
}
.imgs img {
	border-radius: 0.5rem;
}
.img img {
	width: 48%;
}
.img {
	width: 25;
	flex-basis: 50%;
}
.Third {
	/* width: max-content; */
	background-color: #fff;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
	border-radius: 0.2rem;

	margin: auto;
}
.host img {
	border-radius: 50%;
	margin-right: 1rem;
}
.host img {
	width: 14%;
}
