.todo {
	display: flex;
	align-items: center;
	/* padding: 5rem; */

	background-color: #fff;
}
body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #efefef;
}
.todo input {
	background-color: transparent;
	border: none;
	position: relative;
	font-size: 1.2rem;
	z-index: -1;
	/* background-color: #efefef; */
	outline: none;
	width: 15rem;
}
.todo-container{
	width: 20vw;
}
.todo-item {
	background-color: #fff;
	padding: 0.5rem;
	margin: 1rem 0;
	/* display: flex;
	align-items: center;
	justify-content: space-between; */
	/* width: 15rem; */
	width: 100%;
}
