header {
	display: flex;
	justify-content: space-between;
	padding: 1% 8%;
	align-items: center;
	background-color: #fff;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
	z-index: 53;
	position: relative;
}
#Navigation {
	display: flex;
}
#Navigation li {
	margin: 0 1rem;
}
#Navigation a {
	font-weight: 600;
	color: #000;
	transition: all 0.2s ease-in-out;
}
#Navigation a img:hover {
	filter: invert(50%);
	transition: all 0.2s ease-in-out;
}
#Navigation a:hover {
	color: var(--main-color);
}
#home {
	background: url("/IMAGES/EccomImages/back.jpg") no-repeat center center/cover;
	height: 90vh;
	min-height: 40vh;
	display: flex;
	/* text-align: center; */
	align-items: center;
	padding: 2% 10%;
}
.brands img {
	width: 15%;
}
.brands {
	padding: 3rem;
	width: 100%;
}
.new {
	min-height: 50vh;
	height: 80vh;
	/* padding: 2% 8%; */
}
.row {
	display: grid;
	/* gap: 3rem; */
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	min-height: 80%;
	max-height: max-content;
	margin: 2rem 0;
	gap: 2rem;
}
.new .row {
	margin: 0;
}
.col {
	/* padding: 1rem; */
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: center; */
	position: relative;
	/* padding: 1rem; */
}

.new a {
	border-bottom: 2px solid #000;
	color: rgb(42, 35, 35);
	padding: 0.2rem;
	font-weight: 600;
	margin-top: 5rem;
	display: inline-block;
}
.new a:hover {
	transition: all 0.2s ease-in-out;
	border-bottom: 2px solid var(--main-color);
	color: var(--main-color);
	padding: 0.2rem;
}
.button {
	margin-top: 3rem;
}
.new .col:first-child {
	background: url("/IMAGES/EccomImages/new/1.jpg") no-repeat center center/cover;
	border-radius: 0.8rem;
}
.new .col:nth-child(2) {
	background: url("/IMAGES/EccomImages/new/5.jpg") no-repeat center center/cover;
	text-align: center;
	border-radius: 0.8rem;
}
.new .col:last-child {
	background: url("/IMAGES/EccomImages/new/3.jpg") no-repeat center center/cover;
	text-align: right;
	border-radius: 0.8rem;
}
.layer {
	background: linear-gradient(180deg, rgba(245, 186, 196, 0.01), rgba(245, 186, 196, 0.859));
	width: 100%;
	height: 0%;
	position: absolute;
	bottom: 0;
	transition: all 0.2s ease-in-out;
	z-index: -1;
	border-radius: 0.8rem;
}
.new .col:hover .layer {
	height: 100%;
}
.z {
	z-index: 512;
}
.col {
	border-color: #fff;
}

.rating {
	color: var(--main-color);
}

#feature {
	padding: 2% 5%;
	position: relative;
}
.btns {
	transition: all 0.2s ease-in-out;
	opacity: 0;
}
.col:hover .btns {
	opacity: 1;
}
#mainimg {
	min-height: 100vh;
	background-color: transparent;
}

#mainimg::before {
	width: 100%;
	background: url("/IMAGES/EccomImages/banner/2.jpg") no-repeat center center/cover;
	height: 70%;
	position: absolute;
	z-index: -3;
	/* top: 0; */
	content: "";
}
#mainimg .btn {
	padding: 0.8rem 3rem;
	border-radius: 0.1rem;
	font-weight: bold;
}
#dresses {
	min-height: 45vh;
	padding: 4%;
}

#watches {
	min-height: 50vh;
	padding: 4%;
}

#shoes {
	min-height: 50vh;
	padding: 3%;
}
#ourproducts {
	min-height: 50vh;
	padding: 4%;
}
.page {
	padding: 0.15rem 0.7rem;
	width: 3rem !important;

	border: 2px solid transparent;
	/* border: none; */
	transition: all 0.15s ease-in-out;
	border-radius: 0.2rem;
	margin: 0 0.3rem;
	color: rgb(255, 255, 255);
	background-color: var(--main-color);
}
.page:hover {
	background-color: var(--hover-color);
}
.page:active {
	color: var(--main-color);
}
.pagination {
	/* margin:0 .5rem; */
	margin: 6rem 0;
}
footer {
	padding: 2% 5%;
	background-color: rgb(40, 37, 37);
	color: rgb(215, 203, 203);
}
.rowfooter {
	display: grid;
	gap: 3rem;
	margin: 0 3rem;
	grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
}
.instaimgs {
	margin: 2rem 0;
}
.instaimgs img {
	width: 24%;
	margin: 0.3rem;
}

footer .col {
	box-shadow: none;
}
.sociallinks img {
	width: 2.5rem;
	padding: 0.45rem;
	text-align: center;
	background-color: #fff;
	border-radius: 50%;
}
.sociallinks img:hover {
	transform: scale(1.3);
	transition: all 0.2s ease-in-out;
	background-color: rgb(98, 91, 91);
}
.colfooter li a,
small {
	color: rgb(70, 67, 67);
	line-height: 1.9rem;
}
.colfooter li a:hover {
	transition: all 0.2s ease-in;
	transform: translateY(-12px);
	color: rgb(215, 207, 207);
}
.payment {
	width: 8.5rem;
	cursor: pointer;
}
.Buy {
	display: grid;
	/* gap: 1rem; */
	margin-top: 3rem;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.imgProduct img {
	width: 60%;
	display: block;
	margin: auto;
}
select {
	width: 5rem;
	outline: none;
	border: 1.5px solid rgb(68, 67, 67);
	border-radius: 0.1rem;
	font-size: 1rem;
	padding: 0.3rem;
}
.Buy input {
	width: 3rem;
	height: 2.4rem;
	border: 1.5px solid rgb(68, 67, 67);
	border-radius: 0.1rem;
	outline: none;
	padding: 0.3rem;
}

.smallimg img {
	width: 24%;
	display: inline;
	margin: 0.2rem 1rem;
}
.smallimg {
	text-align: center;
}
.Menu {
	width: 30px;
	display: none;
}
@media screen and (max-width: 1200px) {
	html {
		font-size: 13px;
	}
}
@media screen and (max-width: 700px) {
	html {
		font-size: 11px;
	}
	#Navigation {
		display: block;
		position: absolute;
		top: -30rem;
		background-color: #fff;
		text-align: center;
		left: 0;
		width: 100%;
		transition: all 0.2s ease;
		z-index: -53;
	}
	#Navigation li {
		margin: 0.5rem 0;
	}
	#Navigation li a {
		display: block;
		padding: 0.5rem;
	}
	#Navigation li a:hover {
		background-color: var(--main-color);
		color: #fff;
	}
	#Navigation li a img {
		width: 18px;
	}
	.Menu {
		display: block;
		cursor: pointer;
	}
	/* footer .row {
    justify-content: center;
  } */
	footer .col {
		align-items: center;
		margin: 0.5rem 0;
	}
	.pagination {
		margin: 4rem auto;
		width: max-content;
	}
}
.butn {
	margin: 2rem 1rem;
	padding: 0.5rem 1rem;
}
.butn a {
	padding: 0 0.8rem;
	font-size: 2rem;
	border-radius: 0.3rem;
	font-weight: bold;
	color: var(--main-color);
	border: 2px solid var(--main-color);
}
