@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,900&family=Roboto:wght@400;500;700;900&family=Tapestry&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  /* font-family: "Roboto", sans-serif; */
}

html {
  scroll-behavior: smooth;
}

:root {
  --main-color: #c0c322;
  --bg-color: #d6d914;
  --hover-color: #9b9d31;
  --font-color: #fff;
  --font2-color: #585b5b;
  --trans-03: transition: all 0.3s ease-in;
  --trans-05: transition: all 0.5s ease;
  --trans-02: transition: all 1s ease-in;
}

/*  === === === === === ==> ALL COLOR PROPERTIES STARTS HERE */

.main-color {
  color: var(--main-color);
}

.font-color {
  color: var(--font-color);
}

.weight-normal {
  font-weight: normal;
}

.color-dark {
  color: rgb(8, 8, 8);
}

/*  === === === === === ==> ALL COLOR PROPERTIES ENDS HERE */

/*  === === === === === ==> ALL BACKGROUND COLOR PROPERTIES STARTS HERE */
.bg-white {
  background-color: #fff;
}

.bg-color {
  background-color: var(--main-color);
}

.bottom::after {
  content: '';
  width: 3rem;
  height: .3rem;
  position: absolute;
  display: block;
  margin: auto;
  left: 49%;
  bottom: 18%;
  background-color: var(--main-color);
}

.left::before {
  content: '';
  width: 3rem;
  height: .3rem;
  position: absolute;
  display: block;
  margin: auto;
  left: 0%;
  bottom: 20%;
  background-color: var(--main-color);
}

/*  === === === === === ==> ALL BACKGROUND COLOR PROPERTIES ENDS HERE */

/*  === === === === === ==> ALL HOVER COLOR PROPERTIES STARTS HERE */
.hover-white:hover {
  color: #fff;
}

/*  === === === === === ==> ALL HOVER COLOR PROPERTIES ENDS HERE */
.letter-spacing {
  letter-spacing: 0.3rem;
}

.pointer {
  cursor: pointer;
}

.heading {
  font-size: 7rem;
}

.big-font {
  font-size: 6rem;
}

.exlarge-font {
  font-size: 5rem;
}

.large-font {
  font-size: 4rem;
}

.med-font {
  font-size: 4rem;
}

.small-font {
  font-size: 3rem;
}

.line-height {
  line-height: 1.8rem;
}

.inverted {
  filter: invert(100%);
}

.exsmall-font {
  font-size: 2rem;
}

.p-font {
  font-size: 1.15rem;
}

.flex {
  display: flex;
}

.direction-col {
  flex-direction: column;
}

.item-center {
  align-items: center;
}

.height-100 {
  height: 100%;
}

.content-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.min-width-100 {
  min-width: 100vw;
}

.min-width {
  min-width: 40vw;
}

.max-width {
  max-width: 100vw;
}

.max-height {
  max-height: 100vh;
}

.min-height-100 {
  min-height: 100vh !important;
}

.min-height {
  min-height: 40vw !important;
}

.mx-1 {
  margin: 0 1rem !important;
}

.mx-2 {
  margin: 0 2rem !important;
}

.mx-3 {
  margin: 0 3rem !important;
}

.mx-4 {
  margin: 0 4rem !important;
}

.mx-5 {
  margin: 0 5rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.mb-4 {
  margin-bottom: 4rem !important;
}

.mb-5 {
  margin-bottom: 5rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

.mt-5 {
  margin-top: 5rem !important;
}

.mt-6 {
  margin-top: 6rem !important;
}

.mt-7 {
  margin-top: 7rem !important;
}

.mr-1 {
  margin-right: 1rem !important;
}

.mr-2 {
  margin-right: 2rem !important;
}

.mr-3 {
  margin-right: 3rem !important;
}

.mr-4 {
  margin-right: 4rem !important;
}

.mr-5 {
  margin-right: 5rem !important;
}

.ml-1 {
  margin-left: 1rem !important;
}

.ml-2 {
  margin-left: 2rem !important;
}

.ml-3 {
  margin-left: 3rem !important;
}

.ml-4 {
  margin-left: 4rem !important;
}

.ml-5 {
  margin-left: 5rem !important;
}

.my-1 {
  margin: 1rem 0 !important;
}

.my-2 {
  margin: 2rem 0 !important;
}

.my-3 {
  margin: 3rem 0 !important;
}

.my-4 {
  margin: 4rem 0 !important;
}

.my-5 {
  margin: 5rem 0 !important;
}

.my-6 {
  margin: 6rem 0 !important;
}

.my-5 {
  margin: 7rem 0 !important;
}

.m-1 {
  margin: 1rem !important;
}

.m-2 {
  margin: 2rem !important;
}

.m-3 {
  margin: 3rem !important;
}

.m-4 {
  margin: 4rem !important;
}

.m-5 {
  margin: 5rem !important;
}

.px-1 {
  padding: 0 1rem !important;
}

.px-2 {
  padding: 0 2rem !important;
}

.px-3 {
  padding: 0 3rem !important;
}

.px-4 {
  padding: 0 4rem !important;
}

.px-5 {
  padding: 0 5rem !important;
}

.p-1 {
  padding: 1rem !important;
}

.p-2 {
  padding: 2rem !important;
}

.p-3 {
  padding: 3rem !important;
}

.p-4 {
  padding: 4rem !important;
}

.p-5 {
  padding: 5rem !important;
}

.py-1 {
  padding: 1rem 0 !important;
}

.py-2 {
  padding: 2rem 0 !important;
}

.py-3 {
  padding: 3rem 0 !important;
}

.py-4 {
  padding: 4rem 0 !important;
}

.py-5 {
  padding: 5rem 0 !important;
}

.pl-1 {
  padding-left: 1rem !important;
}

.pl-2 {
  padding-left: 2rem !important;
}

.pl-3 {
  padding-left: 3rem !important;
}

.pl-4 {
  padding-left: 4rem !important;
}

.pl-5 {
  padding-left: 5rem !important;
}

.pr-1 {
  padding-right: 1rem !important;
}

.pr-2 {
  padding-right: 2rem !important;
}

.pr-3 {
  padding-right: 3rem !important;
}

.pr-4 {
  padding-right: 4rem !important;
}

.pr-5 {
  padding-right: 5rem !important;
}

.pt-1 {
  padding-top: 1rem !important;
}

.pt-2 {
  padding-top: 2rem !important;
}

.pt-3 {
  padding-top: 3rem !important;
}

.pt-4 {
  padding-top: 4rem !important;
}

.pt-5 {
  padding-top: 5rem !important;
}

.pb-1 {
  padding-bottom: 1rem !important;
}

.pb-2 {
  padding-bottom: 2rem !important;
}

.pb-3 {
  padding-bottom: 3rem !important;
}

.pb-4 {
  padding-bottom: 4rem !important;
}

.pb-5 {
  padding-bottom: 5rem !important;
}

.center {
  text-align: center !important;
}

.weight-500 {
  font-weight: 500 !important;
}

.weight-600 {
  font-weight: 600 !important;
}

.weight-700 {
  font-weight: 700 !important;
}

.bold {
  font-weight: bold !important;
}

.bolder {
  font-weight: bolder !important;
}

.block {
  display: block;
}

.m-auto {
  margin: 1rem auto !important;
}

.p-min {
  padding: 0.5rem !important;
}

.py-min {
  padding: 0.5rem 0 !important;
}

.px-min {
  padding: 0 0.5rem !important;
}

.m-min {
  margin: 0.5rem !important;
}

.my-min {
  margin: 0.5rem 0 !important;
}

.mx-min {
  margin: 0 0.5rem !important;
}

.m-0 {
  margin: 0 !important;
}

.inline {
  display: inline !important;
}

.p-0 {
  padding: 0;
}

.grid {
  display: grid;
}

.ButtonContainer {
  min-height: 100vh;
  background: rgb(118, 143, 215);
  width: 100%;
  /* display: flex; */
  padding: 0 5%;
  justify-content: center;
  align-items: center;
}

/*  === === === === === ==> ALL WIDTH PROPERTIES STARTS HERE */
.width-100 {
  width: 100%;
}

/*  === === === === === ==> ALL BUTTONS PROPERTIES STARTS HERE */

.btn {
  cursor: pointer;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  width: max-content;
  color: #fff;
  background-color: var(--main-color);
  transition: all 0.4s ease;
  border: 2px solid transparent;
  text-align: center;
}

.btn:hover {
  background-color: var(--hover-color);
}

.btn-custom {
  width: 30%;
  display: block;
  color: #fff;
  letter-spacing: .07rem;
}

.m-auto .btn-max {
  width: 100%;
  font-size: 1rem;
  display: block;
  letter-spacing: .3rem;
}

.btn-big {
  letter-spacing: .2rem;
  width: 50%;
  font-size: .9rem;
  display: block;
}

.btn-sm {
  padding: 0.3rem 0.8rem;
  color: #fff;
  font-size: 0.8rem;
}

.btn-dark {
  background: #1c1b1b;
  color: #fff;
}

.btn-dark:hover {
  background: #747474;
}

.btn-curve {
  border-radius: 3rem;
}

/*  === === === === === ==> ALL BUTTONS  PROPERTIES ENDS HERE */
/*  === === === === === ==> ALL EXTRA  PROPERTIES STARTS HERE */


.layer {
  background: linear-gradient(180deg,
      rgba(245, 186, 196, 0.01),
      rgba(245, 186, 196, 0.859));
  width: 100%;
  height: 0%;
  position: absolute;
  bottom: 0;
  transition: all 0.2s ease-in-out;
  z-index: -1;
}

/*  === === === === === ==> ALL EXTRA  PROPERTIES ENDS HERE */
.relative {
  position: relative;
}

.btn {
  cursor: pointer;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  width: max-content;
  font-weight: 600;
  /* color: rgb(4, 4, 4); */
  color: #fff;
  background-color: var(--main-color);
  transition: all 0.4s ease;
  border: 2px solid transparent;
  text-align: center;
}

.btn:hover {
  background-color: var(--hover-color);
  color: #fff;
}

.btn-custom {
  width: 30%;
  display: block;
  color: #fff;
  letter-spacing: .07rem;
}

.letter-space {
  letter-spacing: 0;
}

.max {
  width: 100%;
  font-size: 1.1rem;
  display: block;
  /* letter-spacing: .3rem; */
}

.max-contentWidth {
  width: max-content;

}

.color-gray {
  color: gray;
}

.bg-lightgray {

  background-color: lightgray;
}

.outline {
  background-color: transparent;
  color: var(--main-color);
  border: 2px solid var(--main-color);
}

.plane-input {
  border: none;
  background-color: #efefef;
  padding: 0.5rem;
  outline: none;
}

.br-50 {
  border-radius: 50%;
}

.big {
  letter-spacing: .2rem;
  width: 50%;
  font-size: 1rem;
  display: block;
}

.d-none {
  display: none;
}

.btn-sm {
  padding: 0.3rem 0.8rem;
  color: #fff;
  font-size: 0.9rem;
}

.btn-dark {
  background: #1c1b1b;
  color: #fff;
}

.btn-dark:hover {
  background: #747474;
}

.curve {
  border-radius: 3rem;
}

.btn-light {
  color: #1c1b1b;
  background: #fff;
}

.btn-light:hover {
  color: #1c1b1b;
  background: rgb(220, 212, 212);
}