.flex {
  display: flex;
}
.item-center {
  align-items: center;
}
.content-center {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.max-width {
  max-width: 100vw;
}
.min-width {
  min-width: 40vw;
}
.max-height {
  max-height: 100vh;
}
.min-height {
  min-height: 40vw;
}
.mx-1 {
  margin: 0 1rem;
}
.mx-2 {
  margin: 0 2rem;
}
.mx-3 {
  margin: 0 3rem;
}
.mx-4 {
  margin: 0 4rem;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
.my-4 {
  margin: 4rem 0;
}
.px-1 {
  padding: 0 1rem;
}
.px-2 {
  padding: 0 2rem;
}
.px-3 {
  padding: 0 3rem;
}
.px-4 {
  padding: 0 4rem;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.py-4 {
  padding: 4rem 0;
}
.center {
  text-align: center;
}
.bold {
  font-weight: bolder;
}
.heading {
  font-size: 2.8rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
